<h1>{{title}}</h1>
    <table class="table">
        <tr>
            <th>index</th>
            <th>even/odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenties</th>
            <th>Price</th>
            <th>Check in</th>
            <th>rating</th>
            <th>select Room</th>
        </tr>
        <tr [ngClass]=" e ? 'even' : 'odd'" 
        *ngFor="let room of rooms ; let e =even ;let o=odd; let index=index">
            <td>{{index | percent}}</td>
            <td>{{e? "even" : "odd"}}</td>
            <td>{{room.roomnumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.amenties | titlecase}}</td>
            <td>{{room.price | currency:'INR'}}</td>
            <td>{{room.checkintime | date :'dd/MM/yyyy'}}</td>
            <td>{{room.rating | number :'1.0-0'}}</td>
            <td><button class="btn btn-primary" 
                (click)="selectRoom(room)">Select</button>
            </td>
           
        </tr>
    </table>
