<h1>namaste angular!!!:</h1>
<app-rooms></app-rooms>
<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h2>This is from ng-content section </h2>
</app-container> -->
<div #name></div>
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'admin'">Welcome admin <app-rooms></app-rooms></div>
    <div *ngSwitchCase="'guest'">Welcome guest</div>
    <div *ngSwitchDefault>you are not authorized to view</div> </div>-->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->